html {
  font-size: 10px;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.footer__main-container, .about-us__container, .services__list, .manage-develop, .banner__container, .header__common-container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 6px 0 #00000038;
}
.header__common-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem 0 1.9rem 0;
}

.header__logo a {
  display: inline-block;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  padding: 0;
}

.header__top-links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 0 1.3rem 0;
  padding: 0;
}
.header__top-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header__top-links ul li:nth-child(6) {
  margin-left: 1.15rem;
}
.header__top-links ul li {
  display: inline-block;
}
.header__top-links ul li a {
  display: inline-block;
  text-decoration: none;
  color: #505050;
  font-weight: 500;
  font-size: 1.4rem;
}
.header__top-links ul li .header__small-letter {
  font-size: 12px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  padding: 0 0 0 2.4rem;
}
.header__top-links ul li .header__normal-letter {
  font-size: 14px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  padding: 0 0 0 1rem;
}
.header__top-links ul li .header__large-letter {
  font-size: 16px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  border-right: 0.1rem solid #265781;
  padding: 0 1.8rem 0 1.6rem;
}
.header__top-links ul select {
  font-size: 14px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  border: none;
  padding: 0 0 0 1.15rem;
}
.header__top-links ul select:focus {
  outline-style: none;
}

.header__search-icon {
  height: 1.43rem;
  width: 1.35rem;
}

.header__link-aboutus {
  padding-right: 2.1rem;
}

.header__link-tenders {
  padding-right: 2.2rem;
}

.header__link-separator {
  border-left: 0.1rem solid #265781;
  border-right: 0.1rem solid #265781;
  padding: 0 1.2rem 0 1.2rem;
}
.header__link-separator a:nth-child(2) {
  padding: 0 1rem;
}

.header__dot {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.header__dot-link {
  font-size: 0;
}

.header__dot--blue-dot {
  background-color: #265781;
}

.header__dot--green-dot {
  background-color: #52B27B;
}

.header__dot--yellow-dot {
  background-color: #F2E162;
}

.header__search-logo {
  padding-left: 0.5rem;
}

.header__bottom-links {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0;
}
.header__bottom-links ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.header__bottom-links ul li {
  display: inline-block;
}
.header__bottom-links ul li a {
  text-decoration: none;
  padding: 0 0.8rem 0 0.8rem;
  color: #505050;
}
.header__bottom-links ul li .header__btmlink-separator--lremove {
  padding-left: 0;
}
.header__bottom-links ul li .header__btmlink-separator--rremove {
  padding-right: 0;
}

.header__btmlink-separator {
  border-right: 1px solid;
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 52rem;
}
.banner__container {
  position: absolute;
  right: 0;
  bottom: 6.7rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: goldenrod;
  width: 100%;
}

.banner__head {
  font-size: 5.7rem;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1;
  color: white;
  background-color: #1B7642;
  margin: 0 0 0 0;
  padding: 0.25rem 2.2rem 0.25rem 1.3rem;
}

.banner__title {
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
  background-color: #0F5C30;
  margin: 0.6rem 0 0 0;
  padding: 1.2rem 2.1rem 1.2rem 2.1rem;
}

.banner__detail-link {
  text-decoration: none;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  color: black;
  background-color: white;
  margin-top: 4.7rem;
  padding: 1rem 2.1rem 1rem 2.1rem;
}

.banner__pagedown-outer-box {
  position: absolute;
  top: 47.8rem;
  left: 50%;
  right: 50%;
  display: flex;
  background-color: #1B7642;
  justify-content: center;
  padding: 2.5rem 4rem;
}

.banner__pagedown-inner-box {
  border: 3px solid white;
  padding: 1.15rem 0.7rem;
}

.manage-develop {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 13.6rem;
}
.manage-develop__container {
  margin-left: 5.9rem;
}
.manage-develop__title, .manage-develop__subtitle {
  font-size: 4.3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #505050;
}
.manage-develop__title {
  margin: 0 0 0 11.1rem;
}
.manage-develop__subtitle {
  margin: 0 0 0 23.3rem;
}
.manage-develop__irrigation-text {
  display: inline-block;
  font-size: 13.1rem;
  font-weight: 900;
  background-image: url(./../images/farm-banner.jpg);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: 1rem -6rem;
  line-height: 1;
  letter-spacing: -4px;
  margin: 0;
  padding: 0;
}
.manage-develop__vidc-logo {
  position: absolute;
  top: 0.2rem;
  left: 89.4rem;
  height: 16.9rem;
  width: 18.2rem;
  margin: 0;
}

.services {
  background: linear-gradient(white, rgba(230, 230, 230, 0.6));
}
.services__list, .services__content {
  display: flex;
}
.services__list {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 11.3rem 2rem 12.2rem 2rem;
}
.services__list img {
  height: 7.5rem;
  width: 7.5rem;
}
.services__content {
  width: 10rem;
  text-align: center;
  margin: 0 4.3rem;
}
.services__content a {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #505050;
}
.services__item {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.6rem;
}
.services__content--devlopment {
  width: 12rem;
}

.about-us {
  position: relative;
  height: 52rem;
  width: 100%;
  background-color: #3F3531;
  background-image: url(./../images/greybackground.png);
  background-repeat: no-repeat;
  margin-bottom: 0 0 8.2rem 0;
  padding: 0;
}
.about-us__container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 7.7rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
}
.about-us__video-picture {
  position: relative;
  border-radius: 1.3rem;
}
.about-us__button-image {
  position: absolute;
  top: 15rem;
  left: 23rem;
  border-radius: 50%;
  border: 2px solid #4FC172;
}
.about-us__videobtn {
  height: 7rem;
  width: 7rem;
  border: none;
  border-radius: 8rem;
  margin: 3px;
  background-color: #44AF72;
  color: white;
}
.about-us__about-information {
  display: inline-block;
  width: 39.3rem;
  font-size: 1.6rem;
  line-height: 2.25rem;
  color: white;
  margin-left: 8.5rem;
  padding: 0 0.1rem 0.75rem 0.1rem;
}
.about-us__about-information a {
  display: inline-block;
  text-decoration: none;
  font-size: 2.2rem;
  line-height: initial;
  color: white;
  background-color: #44AF72;
  padding: 1rem 2.15rem;
}
.about-us__about-description {
  display: inline-block;
  margin: 0;
  padding-bottom: 4.6rem;
}
.about-us__about-heading {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 1.4rem 0;
  padding: 0 0.1rem;
}

.footer {
  margin-top: 8.4rem;
}
.footer__grass-picture {
  display: inherit;
  width: 100%;
}
.footer__common-container {
  display: block;
  position: relative;
  color: white;
  background-color: #1B7642;
}
.footer__main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem 4rem 1.5rem;
}
.footer__right-section {
  margin-right: 1.3rem;
  padding: 4rem 0 0 0;
}
.footer__email {
  position: relative;
}
.footer__email input[type=email] {
  display: block;
  width: 447px;
  font-size: 1.4rem;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3.5rem;
  color: white;
  outline-style: none;
  padding: 1.5rem 20.7rem 1.5rem 1.8rem;
  margin-top: 1rem;
}
.footer__email input[type=email]::placeholder {
  font-weight: 400;
  font-family: lato;
  color: white;
}
.footer__email-label {
  font-size: 2.2rem;
  font-weight: bold;
}
.footer__submit {
  position: absolute;
  top: 4.4rem;
  left: 47.7rem;
  font-family: sfcompact;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  color: #393939;
  padding: 0.85rem 3.7rem;
}
.footer__service-container {
  display: inline-flex;
  margin-top: 2.2rem;
  font-family: sfcompact;
}
.footer__service-container a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
.footer__service-container ul {
  list-style-type: none;
}
.footer__service-container ul li {
  color: white;
  margin-bottom: 1.1rem;
}
.footer__first-list ul {
  padding: 0;
  margin-right: 10.1rem;
}
.footer__li-head {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 1.7rem;
}
.footer__li-sub {
  font-size: 1.4rem;
}
.footer__second-list ul {
  padding: 0;
  margin-right: 10.5rem;
}
.footer__third-list {
  margin-top: 3.4rem;
}
.footer__third-list ul {
  padding: 0;
}
.footer__third-list ul li {
  font-size: 1.4rem;
}
.footer__last-container {
  font-size: 1.3rem;
  margin-top: 6.5rem;
  color: rgba(255, 255, 255, 0.9);
}
.footer__copyright-part {
  display: inline-block;
}
.footer__poweredby-part {
  display: inline-block;
  position: relative;
  margin-left: 19rem;
}
.footer__powered {
  display: flex;
  justify-content: end;
}
.footer__dwn-up {
  text-align: right;
}
.footer__contact-container {
  background-color: rgba(29, 29, 29, 0.1);
  padding: 3.6rem 2.7rem 0 2.7rem;
  margin: 0;
}
.footer__contact-container a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
.footer__contact-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__map-location {
  margin-right: 17px;
  padding-bottom: 20px;
}
.footer__mobile {
  padding-bottom: 9px;
  margin-right: 17px;
}
.footer__envelope {
  padding-bottom: 7px;
  margin-right: 8px;
}
.footer__contact-detail {
  display: inline-block;
  width: 27rem;
  margin-left: 6px;
}
.footer__contact-detail h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0.1rem;
  margin-top: 0;
}
.footer__contact-detail a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
}
.footer__contact-detail hr {
  border-color: #3eff9159;
  outline: none;
}
.footer__contact-detail--top {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  padding-bottom: 1.3rem;
}
.footer__contact-detail--mid {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 1.8rem;
  padding-top: 1.7rem;
}
.footer__contact-detail--last {
  padding-top: 1.9rem;
}
.footer__social-handle {
  margin: 3.6rem 0 0 0;
}
.footer__social-handle ul {
  list-style-type: none;
}
.footer__social-handle ul li {
  display: inline-block;
  margin-left: 1rem;
}
.footer__followus {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0 !important;
  padding: 0 1rem 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

@font-face {
  src: url(./../FontsFree-Net-SFCompactDisplay-Regular.ttf);
  font-family: sfcompact;
}