$clr-black:black;
$clr-dargkgery:#4E3939;
$clr-lightgrey:#505050;

$clr-blue:#265781;
$clr-green:#52B27B;
$clr-yellow:#F2E162;
$clr-goldenrod:goldenrod;
$clr-lightdeep-green:#1B7642;
$clr-deepdeep-green:#0F5C30;
$clr-deepfoot-green:#186A3B;
$clr-white:rgb(255, 255, 255);
$clr-redish-brown:#3F3531;
$clr-btn-green:#44AF72;
$clr-foot-light-green:#1B6D3E;
$clr-foot-hr-green:#3eff9159;

$img-path:"./../images/";

$font-lato:"Lato";

$font-sf-compact:sfcompact;