
  // footer-section
.footer {

  &__crop-image {
  display: inherit;
  width: 100%;
  }

  &__wrapper {
    color: $clr-white;
    background-color: $clr-lightdeep-green;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.5rem 4rem 1.5rem;
    @extend %container;
  }

  &__right-section {
    margin:3.2rem 2.6rem 0 0;
    width:71.5rem;
  }

  &__news-letter {
    position:relative;
    margin-bottom: 2.6rem;
    input[type="email"]::placeholder {
      font-size:1.4rem;
      font-weight: 400;
      // font-family: lato;
      color:$clr-white;

    }
  }

  &__news-letter-input {
    display: block;
    width: 447px;
    // font-family: lato;
    font-size: 1.4rem;
    font-weight: 400;;
    background-color:$clr-shadow-black;
    border: none;
    border-radius: 3.5rem;
    color: $clr-white;
    outline-style: none;
    padding: 1.5rem 20.7rem 1.5rem 1.9rem;
  }

  &__news-letter-label {
    display: block;
    font-size:2.2rem;
    font-weight: bold;
    margin-bottom: 1.85rem;
  }

  .btn--newsletter-submit
  {
    position: absolute;
    top: 5rem;
    left: 47.4rem;
    // font-family: lato;
    font-size: 1.6rem;
    font-weight: 900;
    border: none;
    border-radius: 2rem;
    color:$clr-grey-black;
    padding:0.85rem 3.05rem;
  }

// ..............................

  &__service-container {
    display: inline-flex;
    // margin-bottom: 7.4rem;
    margin-bottom: 5.9rem;
    // font-family: lato;
    a {
      display: inline-block;
      text-decoration: none;
      color:$clr-white;
    }
      ul {
        list-style-type: none;
        padding:0;
        li {
          // color:$clr-white;
          margin-bottom: 0.8rem;
          // margin-bottom: 1.1rem;
        }
      }
  }

  &__first-list {
    display: inline-block;
    margin-right: 10.5rem;
    ul {
      margin-bottom: 0;
      margin-top:0;
      li:last-child {
        margin-bottom:0;
      }
    }
  }

  &__service-head {
    color:$clr-white;
    margin-bottom: 1.75rem !important;
  }

  &__service-heading {
    font-size: 1.8rem;
    font-weight: bold;
    margin:0;
    padding:0;
    
  }

  &__service-title {
    font-size: 1.4rem;
  }

  &__second-list {
    margin-right: 10.5rem;
    ul {
      margin-bottom: 0;
      margin-top:0;
      li:last-child {
        margin-bottom:0;
      }
    }
  }

  &__third-list {
    margin-top: 3.4rem;
    ul {
      margin-bottom: 0;
      margin-top:0;
      li {
        font-size:1.4rem;
      }
      li:last-child {
        margin-bottom:0;
      }
    }
  }

  &__last-container {
    font-size:1.3rem;
    line-height: 1.75rem;
    color:$clr-deep-shadow-white;
  }

  &__copyright-block {
    display: inline-block;
    width:44rem;
  }

  &__poweredby-block {
    display: inline-block;
    margin-left: 16.5rem;
  }

  &__powered {
    display: flex;
    font-weight:bold;
    justify-content: end;
  }
// ......contact card.........
  &__contact {
    background-color:$clr-shadow-green;
    margin:0 0 0 0;
    width:30.7rem;
    padding:3.7rem 3.4rem 0 3rem; 
    a {
      display: block;
      text-decoration: none;
      color:$clr-shadow-white;
    }
    ul {
      list-style-type:none;
      margin:0 0 4.6rem 0;
      padding:0;
      li:nth-child(1) {
        div {
          border-bottom: 0.1rem solid $clr-shadow-black-white;
          padding-bottom: 1.3rem;
        }
      }
      li:nth-child(2) {
        div {
          border-bottom: 1px solid $clr-shadow-black-white;
          padding-bottom: 1.8rem;
          padding-right: 0.3rem;
        }
      }
      li:nth-child(1),li:nth-child(2) {
        margin-bottom: 1.7rem;
      }

    }
  }

  &__map-location {
    margin-bottom: 20px;
    margin-right:2.7rem;
  }

  &__mobile {
    margin-right:2.7rem;
  }

  &__envelope {
    margin-right:2.2rem;
  }

  &__contact-detail {
    display:inline-block;
    width:80%;
    // margin-right: 2.6rem;
    h5 {
      display: inline-block;
      font-size:18px; 
      font-weight: bold; 
      padding-bottom:0; 
      margin-bottom: 0.1rem;
      margin-top:0;
    }
    a {
      display: block;
      font-size:14px;
      font-weight: 500;
      margin-top:0;
    }
    hr {
      border-color: $clr-foot-hr-green;
      outline: none;
    }
  }

  &__follows {
    // margin:3.6rem 0 0 0;
    display: inline-block;
    // margin-left:2.7rem;
    ul {
      display: inline-block;
      margin:0;
      li {
        display: inline-block;
        margin-left:0 0 0 1rem;
      }
    }
  }

  &__social-medialinks{
    li {
      margin:0 0 0 1.7rem;
      margin-bottom: 0 !important;
    }
  }

  &__follows-title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    margin-left:0 !important;
    padding:0 2.4rem 0 0;
    border-right:1px solid $clr-shadow-black-white;
    margin:0;
  }

}   



