
  // footer-section
.footer
{

  margin-top:8.4rem;
  &__grass-picture {
  display: inherit;
  width: 100%;
  }
  &__common-container {
    display: block;
    position: relative;
    // width: 100%;
    color: $clr-white;
    background-color: $clr-lightdeep-green;
    // margin: 0;
    // padding: 0;
  }

  &__main-container {
    display: flex;
    flex-wrap: wrap;
    // padding-top: 2rem;
    // padding-bottom: 4rem; 
    padding: 2rem 1.5rem 4rem 1.5rem;
    @extend %container;
  }

  &__right-section {
    // padding-right:2rem;
    margin-right: 2.6rem;
    // padding-right: 0px;
    // padding-top:4rem;
    padding:4rem 0 0 0;
  }

  &__email {
    position:relative;
    input[type="email"]
    {
      display: block;
      width: 447px;
      font-size: 1.4rem;
      font-weight: 900;
      background-color:$clr-shadow-black;
      border: none;
      border-radius: 3.5rem;
      color: $clr-white;
      outline-style: none;
      padding: 1.5rem 20.7rem 1.5rem 1.8rem;
      margin-top: 1rem;
    }
    input[type="email"]::placeholder
    {
      font-weight: 400;
      font-family: lato;
      color:$clr-white;
    }
  }

  &__email-label {
    font-size:2.2rem;
    font-weight: bold;
  }

  &__submit {
      position: absolute;
      top: 4.4rem;
      left: 47.7rem;
      font-family:$font-sf-compact;
      font-size: 1.6rem;
      font-weight: bold;
      border: none;
      border-radius: 2rem;
      color:$clr-grey-black;
      padding:0.85rem 3.7rem;
    }

// ..............................

  &__service-container {
    display: inline-flex;
    margin-top:2.2rem;
    font-family:$font-sf-compact;
    a {
      display: inline-block;
      text-decoration: none;
      color:$clr-white;
    }
      ul {
        list-style-type: none;
        li {
          color:$clr-white;
          margin-bottom: 1.1rem;
        }
      }
  }

  &__first-list {
    ul {
      padding:0;
      margin-right: 10.1rem;
    }
  }

  &__li-head {
    font-size: 1.8rem;
    font-weight: bold;
    color:$clr-white;
    letter-spacing: 1px;
    margin-bottom: 1.7rem;
  }

  &__li-sub {
    font-size: 1.4rem;
  }

  &__second-list {
    ul {
      padding:0;
      margin-right: 10.5rem;
    }
  }

  &__third-list {
    margin-top: 3.4rem;
    ul {
      padding: 0;
      li {
        font-size:1.4rem;
      }
    }
  }

  &__last-container {
    font-size:1.3rem;
    margin-top: 6.5rem;
    color:$clr-deep-shadow-white;
  }

  &__copyright-part {
    display: inline-block;
  }

  &__poweredby-part {
    display: inline-block;
    position:relative;
    margin-left: 19rem;
  }

  &__powered {
    // position: relative;
    // left: 3.3rem;
    // display: inline-block;
    display: flex;
    justify-content: end;
  }

  &__dwn-up {
    text-align: right;
  }
// ......contact card.........
  &__contact-container {
    background-color:$clr-shadow-green;
    // padding:2rem 3.4rem 0 4rem;
    padding:3.6rem 2.7rem 0 2.7rem;

    margin:0;
    a {
      text-decoration: none;
      color:$clr-shadow-white;
    }
    ul {
      list-style-type:none;
      padding:0;
      margin:0;
    }
  }

  &__map-location
  {
    margin-right: 17px;
    padding-bottom: 20px;
  }

  &__mobile
  {
    padding-bottom: 9px;
    margin-right: 17px;
  }

  &__envelope
  {
    padding-bottom: 7px;
    margin-right: 8px;
  }

  &__contact-detail {
    display:inline-block;
    width:27rem;
    margin-left: 6px;
    h3 {
      display: inline-block;
      font-size:18px; 
      font-weight: bold; 
      padding-bottom:0; 
      margin-bottom: 0.1rem;
      margin-top:0;
    }
    a {
      display: block;
      font-size:14px;
      font-weight: 500;
      margin-top:0;
    }
    hr {
      border-color: $clr-foot-hr-green;
      outline: none;
    }

  }
  &__contact-detail--top
  {
   border-bottom: 0.1rem solid $clr-shadow-black-white;
   padding-bottom: 1.3rem;
  }
  &__contact-detail--mid
  {
    border-bottom: 1px solid $clr-shadow-black-white;
    padding-bottom: 1.8rem;
    padding-top:1.7rem;
  }
  // &__contact-detail--mid {
  //   position: relative;
  //   right:0;
  //   left:1.8rem;
  // }

  &__contact-detail--last {
    // position: relative;
    // right:0;
    padding-top:1.9rem;
  }

  &__social-handle {
    margin:3.6rem 0 0 0;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        margin-left:1rem;
      }
    }
  }
  
  &__followus {
    font-size: 2rem;
    font-weight: 700;
    margin-left:0 !important;
    padding:0 1rem 0 0;
    border-right:1px solid $clr-shadow-black-white;
  }

}   



