

// .............................................
    // main-banner page
// .............................................
.banner
{
  // margin-bottom: 6.1em;
  position:relative; 
  img
  {
    width:100%;
    height: 52rem;
  }
  @at-root
  {
    &__container
    {
      position:absolute;
      bottom: 6.7rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color:$clr-goldenrod;
      width:100%;
      left:0;
      right:0;
      @extend %container;
    }
    &__head
    {    
      margin: 0 0 0 0;
      font-size: 5.7rem;
      background-color: #1B7642;
      padding: 0.25rem 2.2rem 0.25rem 1.3rem;
      font-weight: 800;
      color: white;
      letter-spacing: 2px;
      line-height: 1;
    }
    &__title
    {     
      font-size: 3.5rem;
      background-color: $clr-deepdeep-green;
      font-weight: 900;
      color: $clr-white;
      margin:0.6rem 0 0 0;
      padding:1.2rem 2.1rem 1.2rem 2.1rem;
      
    }
    &__detail-link
    {     
      text-decoration: none;
      margin-top: 4.7rem;
      font-size: 2.2rem;
      background-color: $clr-white;
      text-align: center;
      padding: 1rem 2.1rem 1rem 2.1rem;
      color: $clr-black;
      font-weight: 400;
    }
    &__pagedown-outer-box
    {
  
      position: absolute;
      background-color:  $clr-lightdeep-green;
      left: 50%;
      right: 50%;
      top: 47.8rem;
      padding: 2.5rem 4rem;
      display: flex;
      justify-content: center;
  

    }
    &__pagedown-inner-box
    {
      border:3px solid $clr-white;
      padding:1.15rem 0.7rem;
      // border-bottom: 3px solid $clr-white;
      // padding: 0.7rem 0.7rem;
      // transform: rotate(45deg);
      // border-right: 3px solid $clr-white;
    }
  }


  


}




// .............................................
    // product banner page
// .............................................
.manage-develop{
  position: relative;
  margin-top: 13.3rem;
  display: flex;
  flex-wrap: wrap; 
  @extend %container;
    
  &__banner
  {
    margin-left:5.9rem;
    // margin-top:10.4rem;
    // padding: 0.25rem 0.5rem;
    // display: inline-grid;
    // padding: 1.012px;
  }
  &__title{
    display: inline-block;
    font-size: 4.3rem;
    text-transform: uppercase;
    font-weight: 900;
    color:$clr-lightgrey;
    margin-bottom: 1.3rem;
    margin-left: 11.1rem;
    // padding: 0 0.35rem;
    margin-top: 0;
    

  }
  &__subtitle{
    // display: inline-block;
    font-size: 4.3rem;
    text-transform: uppercase;
    font-weight: 900;
    font-family: lato ;
    color:$clr-lightgrey;
    margin-top:1.3rem;
    // margin-left:23.6rem;
    // padding:0 0.5rem;
    text-align: center;
    margin-bottom:0;
  }
  &__vidc-logo{
    // img{
      position: absolute;
      height:16.9rem;
      width:18.2rem;
      top: 0.2rem;
      right: 9.2rem;
      margin:0;

    // }
  }
  
  
   
  }
   



// .............................................
    // product-category page
// .............................................
  .services
  {
    
   background: linear-gradient(#FFFFFF,#E6E6E6);
    // @extend .container;
    &__list
    {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // padding: 11.2rem 2rem;
      padding:11.3rem 2rem 12.2rem 2rem;
      @extend %container;   
      img
      {
        height:7.5rem;
        width:7.5rem;
      }
      // figure


    
    }
    &__content
    {
      text-align: center;
      margin: 0;
      width: 10rem;
      display: flex;
      /* justify-content: space-evenly; */
      margin: 0 4.3rem;
      a{
        text-decoration: none;
        color:$clr-lightgrey;
        font-weight: 600;
        display: inline-block;

      }
    }
    &__item
    {
      font-size: 1.6rem;
      font-weight: bolder;
      // width: 9rem;
      display: block;
      text-align: center;
      // padding-top: 2rem;
      // padding-left: 0.45rem;
      padding-top: 1.6rem;
      // padding-right: 0.45rem;
    }
    &__content--irrigation
    {
      margin-left: 13.2rem;
    }
  
  }
    



// .............................................
    // vidc-introduce page
// .............................................
.vidc
{
    background-color:$clr-redish-brown ;
    position: relative;
    width:100%;
    height:52rem;
    margin-bottom: 8.2rem;
    background-image: url('../images/greybackground.png');
    background-repeat: no-repeat;
    padding:0;
    margin:0;
    width:100%;


  &__description-container
  {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 7.7rem;
    padding-top: 0px;
    @extend %container;
  }
  &__video-picture
  {
    // display:inline-block;
    // position: relative;
    // img{
    height: 35.2rem;
    width:55.6rem;
    // margin-left: 8rem;
    border-radius:1.5rem;

  // }
  }
  &__button-image
  {
   position:absolute;
   top: 13.6rem;
   left: 23rem;
  }
  &__videobtn
  {
    height: 10rem;
    width:10rem;
    border-radius: 8rem;
    background-color: $clr-btn-green;
    border:none;
    outline: 1px solid $clr-deepdeep-green ;
  }
  &__about-information
  {
    display: inline-block;
    color: white;
    font-size: 1.6rem;
    width: 39.3rem;
    margin-left: 8.5rem;
    line-height: 2.25rem;
    padding: 0.75rem 0.1rem;
    a
    {
      display: inline-block;
      text-decoration: none;
      background-color: #44AF72;
      color: white;
      font-size: 2.2rem;
      padding: 1rem 2.15rem;
      line-height: initial;
    }
  }
  &__about-description
  {
    display: inline-block;
    padding-bottom: 4.6rem;
    margin: 1.4rem 0 0 0;
  }

  &__about-heading
  {
    font-size: 3.6rem;
    font-weight: 800;
    margin: 0;
    line-height: 1.2;
    display: inline-block;
    padding: 0 0.1rem;
  }

}
